<div class="left">
    {if $user->isInRole("superAdmin")}<a n:href="Admin:uzivatele">Uživatelé</a>{/if}
    <a n:href="Admin:">Příspěvky</a>
    <a n:href="Admin:treninky">Tréninky, ceník</a>
    <a n:href="Admin:treneri">Trenéři</a>
    <a n:href="Admin:fotogalerie">Fotogalerie</a>
    <a n:href="Admin:pisnicky">Písničky</a>
    <a n:href="Admin:akce">Akce</a>
</div>