{block head}
    <link rel="stylesheet" href="{$basePath}/styles/login.css">
{/block}

{block content}
    <div id="loginDiv">
        {control prihlasForm}
        <a n:href="Uzivatel:registrace">Ještě nemám účet...</a>
    </div>
{/block}